# ─────────────────────────────────────────
# SNOWFLAKE
# ─────────────────────────────────────────
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_ROLE=
SNOWFLAKE_DATABASE=

# ─────────────────────────────────────────
# AZURE BLOB STORAGE
# ─────────────────────────────────────────
AZURE_STORAGE_ACCOUNT=
AZURE_CONTAINER_NAME=
AZURE_SAS_TOKEN=

# ─────────────────────────────────────────
# AIRFLOW
# ─────────────────────────────────────────
AIRFLOW_HOME=

# ─────────────────────────────────────────
# PIPELINE CONFIG
# ─────────────────────────────────────────
DBT_PROJECT_DIR=
DBT_PROFILES_DIR=
AZURE_STAGE_NAME=
WEEKLY_ORDER_MIN=500
WEEKLY_ORDER_MAX=2000