AIRFLOW_UID=
FERNET_KEY=
_PIP_ADDITIONAL_REQUIREMENTS=

# ─────────────────────────────────────────
# AIRFLOW EMAIL (SMTP)
# ─────────────────────────────────────────
AIRFLOW__SMTP__SMTP_HOST=
AIRFLOW__SMTP__SMTP_STARTTLS=
AIRFLOW__SMTP__SMTP_SSL=
AIRFLOW__SMTP__SMTP_USER=
AIRFLOW__SMTP__SMTP_PASSWORD=
AIRFLOW__SMTP__SMTP_PORT=
AIRFLOW__SMTP__SMTP_MAIL_FROM=

# ─────────────────────────────────────────
# SNOWFLAKE
# ─────────────────────────────────────────
SNOWFLAKE_ACCOUNT=


SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_ROLE=
SNOWFLAKE_DATABASE=

# ─────────────────────────────────────────
# AZURE BLOB STORAGE
# ─────────────────────────────────────────
AZURE_STORAGE_ACCOUNT=


AZURE_CONTAINER_NAME=

AZURE_SAS_TOKEN=



# ─────────────────────────────────────────
# AIRFLOW
# ─────────────────────────────────────────
AIRFLOW_HOME=


# ─────────────────────────────────────────
# PIPELINE CONFIG
# ─────────────────────────────────────────
DBT_PROJECT_DIR=
DBT_PROFILES_DIR=

AZURE_STAGE_NAME=
# Full qualified stage name in Snowflake

WEEKLY_ORDER_MIN=
# Minimum orders to generate per weekly run

WEEKLY_ORDER_MAX=
# Maximum orders to generate per weekly run